@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Pacifico&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--text-color);
  accent-color: var(--text-color);
  --text-color: rgba(31, 31, 31, 0.87);
  --background-color: #ffe5dd;

  --background-button: #313131;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  --primaryColor: #C8553D;
  --primaryColorDarken: #801313;
  --primaryColorLighten: #c54949;

  --shadow: 0px 4px 12px black;
}

.dark {
  color: var(--text-color);
  --text-color: #ffe5dd;
  --background-color: #212121;
  accent-color: var(--text-color);
}

input:hover {
  accent-color: var(--primaryColor);
  cursor: pointer;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffd6d6;
    --text-color: #ffd6d6;
    --background-color: #212121;
  }
} */

.mainWindow {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Inter, sans-serif;
  transition: background-color 5s linear ease-in-out, color 5s linear ease-in-out;
  user-select: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

  text-align: center;
}

h2 {
  font-size: 1.6em;
  line-height: 1.1;
  width: 50%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--text-color);
  margin-top: 50px;
  line-height: 1.2;

  width: 500px;

  height: 5vh;
  min-height: 50px;

  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;

  background-color: transparent;
  cursor: pointer;

  text-decoration: none;

  transition: color 0.25s;
}

.menuChoose {
  margin-top: 0;
}

a:visited {
  color: var(--text-color);
}

a:hover {
  color: var(--primaryColor);
  animation: text-animate 5s infinite linear;

}

b {
  font-family: "Caveat", serif;
  font-style: normal;
  font-size: 3.6rem;
}

@keyframes text-animate {
  0% {
    font-family: Inter, sans-serif;
    transform: translate(0, 0);
  }

  10% {
    font-family: "Caveat", cursive;
    transform: translate(1px, -2px);
  }

  20% {
    font-family: "Roboto", sans-serif;
    transform: translate(-2px, 1px);
  }

  30% {
    font-family: "Old Standard TT", serif;
    transform: translate(3px, 0);
  }

  40% {
    font-family: "Lobster", cursive;
    transform: translate(-1px, 2px);
  }

  50% {
    font-family: "Montserrat", sans-serif;
    transform: translate(2px, -1px);
  }

  55% {
    font-family: "Playfair Display", serif;
    transform: translate(-3px, 1px);
  }

  60% {
    font-family: "Pacifico", cursive;
    transform: translate(1px, 3px);
  }

  70% {
    font-family: "Merriweather", serif;
    transform: translate(-2px, -2px);
  }

  80% {
    font-family: "Old Standard TT", serif;
    transform: translate(3px, -1px);
  }

  90% {
    font-family: "Arial", sans-serif;
    transform: translate(-1px, 3px);
  }

  100% {
    font-family: Inter, sans-serif;
    transform: translate(0, 0);
  }
}

.strichka {
  height: 100%;
  width: 250px;

  background-image: url("/strichka.svg");
  background-size: cover;
  background-repeat: repeat-y;

  position: fixed;
  left: 0;
  z-index: -1;

  animation: strichka-anim 60s infinite linear;
}

@keyframes strichka-anim {
  from {
    background-position: 0% 0px;
  }

  to {
    background-position: 0% 5222px;
  }
}

.targetName {
  animation: targetName-anim 10s ease-out;
}

@keyframes targetName-anim {
  from {
    filter: blur(50px);
  }

  to {
    filter: blur(0px);
  }
}

.selected-element {
  border: var(--primaryColor) 4px solid;
  box-sizing: border-box;
  filter: none !important;
}

/* TIMER */

.timer {
  position: relative;
  right: 0;
  top: 0;
  width: fit-content;
  padding: 10px 20px;
  margin: 0;
  font-size: larger;
}

/* Choose Many */

.imageContainer {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: fit-content;
  width: 652px;
  gap: 25px;
  padding: 0 25px;
}

.imageCard {
  width: 200px;
  height: 200px;

  background-size: cover;
  background-position: 50% 50%;
  background-image: attr(data-image);

  position: relative;
  filter: grayscale(1);

  transition: filter .5s;
}

.imageCard:hover {
  cursor: pointer;
  filter: grayscale(0.5);
  z-index: 999;
}

.imageCard:hover .imageCardIn {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.imageCardIn {
  pointer-events: none;

  display: none;
  position: absolute;


  height: 150%;
  width: 150%;

  background-size: cover;
  background-position: 50% 50%;

  left: 0;
  top: 0;

  transform: translate(-20%, -20%);

  animation: card 1s steps(2, end) infinite;
  box-shadow: var(--shadow);
}

.imageCard a {
  color: white;
  background-color: var(--background-button);
  padding: 0 10px;
  width: 100%;
  height: fit-content;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes card {
  50% {
    height: 150%;
    width: 150%;
    transform: translate(-20%, -20%) rotate(-1deg);
  }

  100% {
    height: 155%;
    width: 155%;
    transform: translate(-25%, -25%) rotate(1deg);
  }
}

/* WHEEL */

.imageCardWheel {
  min-width: 200px;
  min-height: 200px;

  background-size: cover;
  background-position: 50% 50%;
}

.imageCardWheel-text {
  position: absolute;
  bottom: 0px;
  font-size: .9rem;

  color: white;
  background-color: var(--background-button);
  width: 150px;
  max-width: 150px;

  height: fit-content;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wheel-container {
  width: 500px;
  overflow: hidden;

  position: relative;
}

.wheel-arrow {
  height: 25px;
  width: 7px;

  position: absolute;
  z-index: 1;

  left: 50%;
  transform: translateX(-50%);

  border-radius: 0 0 24px 24px;

  background-color: var(--primaryColor);
}

.arrow-top {
  border-radius: 0 0 24px 24px;
}

.arrow-bot {
  border-radius: 24px 24px 0 0;
  bottom: 0;
}

.wheel {
  display: flex;
  gap: 15px;
  width: max-content;
  animation: moveWheel 60s linear infinite;
}

@keyframes moveWheel {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-3465px);
  }
}

.stopButton {
  width: 500px;
  height: 50px;

  margin-top: 50px;

  background-color: var(--primaryColor);
  color: white;

  border: none;
  border-radius: 12px;

  font-size: xx-large;
}

.stopButton:hover {
  cursor: pointer;
  animation: text-animate 10s infinite linear;
}

/* RULES */

.rules {
  font-size: x-large;

  width: 50%;
  margin: 0px;
}

br {
  margin-top: 5px;
}

.animOff {
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
}

.disable-animations *:not(.wheel) {
  animation: none !important;
}

/* SETTINGS */
.settings {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* ERROR */

.ErrorPic {
  height: 100px;
  width: 100px;
  min-width: 100px;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: var(--shadow);
  gap: 15px;
}

.ErrorRow {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 49%;
  font-size: x-large;
}

.ErrorFix {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  gap: 15px;
  justify-content: space-between;
}

/* MEIDA */

@media screen and (max-width: 600px) {
  h1 {
    font-size: larger;
  }

  h2 {
    width: 100%;
  }

  .imageCard {
    width: 100px;
    height: 100px;
  }

  .imageContainer {
    width: 94%;
    padding: 0;
    margin: 0;
  }

  .strichka {
    opacity: 0.2;
  }

  a {
    width: 100%;
    margin-top: 50px;
  }

  button.stopButton {
    width: 100%;
  }

  .wheel-container {
    width: 100%;
  }

  .ErrorRow {
    width: 100%;
    font-size: large;
  }

  .menuChoose {
    margin-top: 50px;
    font-size: large;
  }

}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  width: 100px;
}

/* SETTINGS PAGE */

.settingsPageMenu {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 30px;
}

.settingOption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.checkboxMenu {
  width: 25px;
}